<h1>Stupid Coaching</h1>

<form action="/answer">

  <div>
    <div>
    <p>Ask your coach anyting:</p>
    </div>
    <div class="div">
    <input type="text" name="question" class="form">
    <input type="submit" value="Ask" class="btn">
    </div>
  </div>

</form>
